{% extends 'base.twig' %}

{% block title %}

Account Create

{% endblock %}

{% block main %}

        <h1 style='color:red;'>{{ createCustomerError }}</h1>
        <h1 style='color:#16e059;'>{{ createCustomerOutput }}</h1>

        <h1>Create Account</h1>
        <h2 class="error">* required field.</h2>
        <form action= "{{ url }}/index.php/accountCreate" autocomplete="on" method="get">
            <fieldset>
                <legend>Personal Information</legend>
                First Name: 
                <input type="text" name="firstName" value="{{ firstName }}">    
                <span class="error">* {{ firstNameError }}</span>
                <br><br>
                Last Name: 
                <input type="text" name="lastName" value="{{ lastName }}">  
                <span class="error">* {{ lastNameError }}</span>
                <br><br>
                Date of Birth:
                <input type="date" name="dateOfBirth" value="{{ dateOfBirth }}">
                <br><br>
                Gender:
                <input type="radio" name="gender" {% if gender!= NULL and gender=="M" %} 'checked' {% endif %} value="M">Male
                <input type="radio" name="gender" {% if gender!= NULL and gender=="F" %} 'checked' {% endif %} value="F">Female
                <span class="error">* {{ genderError }}</span>
                <br><br>
            </fieldset>
            <fieldset>
                <legend>Address Information</legend>
                Address 1: 
                <input type="text" name="address1" value="{{ address1 }}">  
                <span class="error">* {{ address1Error }}</span>
                <br><br>
                Address 2: 
                <input type="text" name="address2" value="{{ address2 }}">    
                <br><br>
                City: 
                <input type="text" name="city" value="{{ city }}">    
                <span class="error">* {{ cityError }}</span>
                <br><br>
                State:
                <select name="state">
                <option value="AL" {% if state=="AL" %} 'selected' {% endif %}>Alabama</option>
                <option value="AK" {% if state=="AK" %} 'selected' {% endif %}>Alaska</option>
                <option value="AZ" {% if state=="AZ" %} 'selected' {% endif %}>Arizona</option>
                <option value="AR" {% if state=="AR" %} 'selected' {% endif %}>Arkansas</option>
                <option value="CA" {% if state=="CA" %} 'selected' {% endif %}>California</option>
                <option value="CO" {% if state=="CO" %} 'selected' {% endif %}>Colorado</option>
                <option value="CT" {% if state=="CT" %} 'selected' {% endif %}>Connecticut</option>
                <option value="DE" {% if state=="DE" %} 'selected' {% endif %}>Delaware</option>
                <option value="DC" {% if state=="DC" %} 'selected' {% endif %}>District Of Columbia</option>
                <option value="FL" {% if state=="FL" %} 'selected' {% endif %}>Florida</option>
                <option value="GA" {% if state=="GA" %} 'selected' {% endif %}>Georgia</option>
                <option value="HI" {% if state=="HI" %} 'selected' {% endif %}>Hawaii</option>
                <option value="ID" {% if state=="ID" %} 'selected' {% endif %}>Idaho</option>
                <option value="IL" {% if state=="IL" %} 'selected' {% endif %}>Illinois</option>
                <option value="IN" {% if state=="IN" %} 'selected' {% endif %}>Indiana</option>
                <option value="IA" {% if state=="IA" %} 'selected' {% endif %}>Iowa</option>
                <option value="KS" {% if state=="KS" %} 'selected' {% endif %}>Kansas</option>
                <option value="KY" {% if state=="KY" %} 'selected' {% endif %}>Kentucky</option>
                <option value="LA" {% if state=="LA" %} 'selected' {% endif %}>Louisiana</option>
                <option value="ME" {% if state=="ME" %} 'selected' {% endif %}>Maine</option>
                <option value="MD" {% if state=="MD" %} 'selected' {% endif %}>Maryland</option>
                <option value="MA" {% if state=="MA" %} 'selected' {% endif %}>Massachusetts</option>
                <option value="MI" {% if state=="MI" %} 'selected' {% endif %}>Michigan</option>
                <option value="MN" {% if state=="MN" %} 'selected' {% endif %}>Minnesota</option>
                <option value="MS" {% if state=="MS" %} 'selected' {% endif %}>Mississippi</option>
                <option value="MO" {% if state=="MO" %} 'selected' {% endif %}>Missouri</option>
                <option value="MT" {% if state=="MT" %} 'selected' {% endif %}>Montana</option>
                <option value="NE" {% if state=="NE" %} 'selected' {% endif %}>Nebraska</option>
                <option value="NV" {% if state=="NV" %} 'selected' {% endif %}>Nevada</option>
                <option value="NH" {% if state=="NH" %} 'selected' {% endif %}>New Hampshire</option>
                <option value="NJ" {% if state=="NJ" %} 'selected' {% endif %}>New Jersey</option>
                <option value="NM" {% if state=="NM" %} 'selected' {% endif %}>New Mexico</option>
                <option value="NY" {% if state=="NY" %} 'selected' {% endif %}>New York</option>
                <option value="NC" {% if state=="NC" %} 'selected' {% endif %}>North Carolina</option>
                <option value="ND" {% if state=="ND" %} 'selected' {% endif %}>North Dakota</option>
                <option value="OH" {% if state=="OH" %} 'selected' {% endif %}>Ohio</option>
                <option value="OK" {% if state=="OK" %} 'selected' {% endif %}>Oklahoma</option>
                <option value="OR" {% if state=="OR" %} 'selected' {% endif %}>Oregon</option>
                <option value="PA" {% if state=="PA" %} 'selected' {% endif %}>Pennsylvania</option>
                <option value="RI" {% if state=="RI" %} 'selected' {% endif %}>Rhode Island</option>
                <option value="SC" {% if state=="SC" %} 'selected' {% endif %}>South Carolina</option>
                <option value="SD" {% if state=="SD" %} 'selected' {% endif %}>South Dakota</option>
                <option value="TN" {% if state=="TN" %} 'selected' {% endif %}>Tennessee</option>
                <option value="TX" {% if state=="TX" %} 'selected' {% endif %}>Texas</option>
                <option value="UT" {% if state=="UT" %} 'selected' {% endif %}>Utah</option>
                <option value="VT" {% if state=="VT" %} 'selected' {% endif %}>Vermont</option>
                <option value="VA" {% if state=="VA" %} 'selected' {% endif %}>Virginia</option>
                <option value="WA" {% if state=="WA" %} 'selected' {% endif %}>Washington</option>
                <option value="WV" {% if state=="WV" %} 'selected' {% endif %}>West Virginia</option>
                <option value="WI" {% if state=="WI" %} 'selected' {% endif %}>Wisconsin</option>
                <option value="WY" {% if state=="WY" %} 'selected' {% endif %}>Wyoming</option>
                </select>
                <span class="error">* {{ stateError }}</span>
                <br><br>
                Phone Number:
                <input type="tel" name="phoneNumber" placeholder="123-456-7890" value="{{ phoneNumber }}">
                <span class="error"> {{ phoneNumberError }}</span>
                <br><br>
            </fieldset>
            <fieldset>
                <legend>Account Information</legend>
                E-Mail Address:
                <input type="text" name="eMail" value="{{ eMail }}">
                <span class="error">* {{ eMailError }}</span>
                <br><br>
                Password:
                <input type="password" name="password" value="{{ password }}">
                <span class="error">* {{ passwordError }}</span>
                <br><br>
                Repeat Password:
                <input type="password" name="passwordRepeat" value="{{ passwordRepeat }}">
                <span class="error">* {{ passwordRepeatError }}</span>
                <br><br>
            </fieldset>
            <fieldset>
                <legend>Additional Information</legend>
                Interests:<br>
                <input type="checkbox" name="action" value="action" {% if action == 1 %} 'checked' {% endif %}>Action<br>
                <input type="checkbox" name="children" value="children" {% if children == 1 %} 'checked' {% endif %}>Children<br>
                <input type="checkbox" name="comedy" value="comedy" {% if comedy == 1 %} 'checked' {% endif %}>Comedy<br>
                <input type="checkbox" name="documentary" value="documentary" {% if documentary == 1 %} 'checked' {% endif %}>Documentary<br>
                <input type="checkbox" name="drama" value="drama" {% if drama == 1 %} 'checked' {% endif %}>Drama<br>
                <input type="checkbox" name="horror" value="horror" {% if horror == 1 %} 'checked' {% endif %}>Horror<br>
                <input type="checkbox" name="musicals" value="musicals" {% if musicals == 1 %} 'checked' {% endif %}>Musicals<br>
                <input type="checkbox" name="romance" value="romance" {% if romance== 1 %} 'checked' {% endif %}>Romance<br>
                <input type="checkbox" name="scienceFiction" value="scienceFiction" {% if scienceFiction== 1 %} 'checked' {% endif %}>Science Fiction<br>
                <input type="checkbox" name="thriller" value="thriller" {% if thriller == 1 %} 'checked' {% endif %}>Thriller<br>
                Notes:
                <textarea name="notes" rows="10" cols="50" value="{{ notes }}"></textarea>
                <br><br>
            </fieldset>
            <input type="submit" name="accountCreate" value="Submit">
            <input type="reset">
        </form> 

{% endblock %}