{% extends 'base.twig' %}

{% block title %}

Booking Create

{% endblock %}

{% block main %}

    <h2 style='color:red;'> {{ duplicateError }} {{ createBookingError }} {{ bookingCustomerErr }} {{ bookingInventoryErr }}</h2>
    "<h1 style='color:#16e059;'> {{ createBookingOutput }} </h1>

    {% if bookingCustomerArray is not empty %}
    <span class='notice'>* Search displays first 10 Results</span>
    <form action= "{{ url }}/index.php/bookingCreate" autocomplete='on' method='get'>
    <h1 style='color:#16e059;'>Results:</h1>
    <table border='1' style='width:100%'>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Phone Number</th>
                    <th>E-Mail Address</th>
                    <th>Select?</th>
                </tr>
    {% for item in bookingCustomerArray %}
    <tr>
        <td>{{ item.cuID }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.dateOfBirth }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.address1 }}</td>
        <td>{{ item.address2 }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td><input type='text' name='eMail{{ item.count }}' value='{{ item.eMail }}' disabled></td>
        <td><input type='submit' name='eMailSelect{{ item.count }}' value='Select'></td>
    </tr>
    {% endfor %}
    </table>
    </form>
    {% endif %}

    {% if bookingInventoryArray is not empty %}
    <span class='notice'>* Search displays first 10 Results</span>
    <form action= "{{ url }}/index.php/bookingCreate" autocomplete='on' method='get'>
    <h1 style='color:#16e059;'>Results:</h1>
    <table border='1' style='width:100%'>
        <tr>
            <th>Barcode Number</th>
            <th>SKU Number</th>
            <th>Product Name</th>
            <th>Production Company</th>
            <th>Genre(s)</th>
            <th>Date Acquired</th>
            <th>Condition</th>
            <th>Select?</>
        </tr>
    {% for item in bookingInventoryArray %}
        <tr>
            <td><input type='text' name='barCode{{ item.count }}' value='{{ item.barCodeNumber }}' disabled></td>
            <td>{{ item.sKUNumber }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.productionCompanyName }}</td>
            <td>{{ item.genreName }}</td>
            <td>{{ item.dateAcquired }}</td>
            <td>{{ item.productCondition }}</td>
            <td><input type='submit' name='barCodeSelect{{ item.count }}' value='Select'></td>
        </tr>
    {% endfor %}
    </table>
    </form>
    {% endif %}

        <h1>Create Booking</h1>
        <form action= "{{ url }}/index.php/bookingCreate" autocomplete="on" method="get">
            <fieldset>
                <legend>Customer Information</legend>
                Customer E-Mail Address: 
                <input type="text" name="eMail" value="{{ eMail }}">
                <span class="error">* {{ eMailError }}</span>
                <br><br>
            </fieldset>
            <fieldset>
                <legend>Inventory</legend>
                {% for inventory in bookingInventory %}
                    Inventory Barcode Number: <input type='text' name='barCodeNumber{{ inventory.index }}' value='{{ inventory.barCodeNumber }}'><span class='error'> *{{ inventory.barCodeNumberErr }}</span><br><br>
                {% endfor %}
            <input type="submit" name="addItem" value="Add Item">
            <input type="submit" name="removeItem" value="Remove Item">
            </fieldset>
      <fieldset>
        <legend>Booking Date</legend>
        <input type="date" name="bookingDate" value="{{ bookingDate }}">
        <span class="error">* {{ bookingDateError }}</span>
      </fieldset>
            <input type="submit" name="submitBooking" value="Submit">
            <input type="reset">
        </form>

        <h2>Search for Customer</h2>
        <h2 class="notice">* field is subject to input restrictions.</h2>
        <form action= "{{ url }}/index.php/bookingCreate" autocomplete="on" method="get">
            <fieldset>
                <legend>Search by Personal Information</legend>
                Last Name: 
                <input type="text" name="lastName" value="{{ lastName }}">  
                <span class="notice">* {{ lastNameError }}</span>
                <br><br>
                Date of Birth:
                <input type="date" name="dateOfBirth" value="{{ dateOfBirth }}">
                <br><br>
                Address 1: 
                <input type="text" name="address1" value="{{ address1 }}">  
                <span class="notice">* {{ address1Error }}</span>
                <br><br>
                Phone Number:
                <input type="tel" name="phoneNumber" value="{{ phoneNumber }}">
                <span class="notice">* {{ phoneNumberError }}</span>
                <br><br>
            </fieldset>
            <input type="submit" name="submitCustomer" value="Submit">
            <input type="reset">
        </form>

        <h2>Search for Inventory</h2>
        <h2 class="notice">* field is subject to input restrictions.</h2>
        <form action= "{{ url }}/index.php/bookingCreate" autocomplete="on" method="get">
            <fieldset>
                <legend>Search by Inventory or Product Information</legend>
                Barcode Number: 
                <input type="text" name="barCodeNumber" value="{{ barCodeNumber }}">
                <span class="notice">* {{ barCodeNumberError }}</span>
                <br><br>
                SKU Number: 
                <input type="text" name="sKUNumber" value="{{ sKUNumber }}">
                <span class="notice">* {{ sKUNumberError }}</span>
                <br><br>
                Product Name: 
                <input type="text" name="productName" value="{{ productName }}">   
                <span class="notice">* {{ productNameError }}</span>
                <br><br>
            </fieldset>
            <input type="submit" name="submitProduct" value="Submit">
            <input type="reset">
        </form>

{% endblock %}