{% extends 'base.twig' %}

{% block title %}

Booking Search

{% endblock %}

{% block main %}

    <h1 style='color:red;'> {{ duplicateError }} {{ returnBookingError}} {{ bookingSearchErr }} </h1>
    "<h1 style='color:#16e059;'> {{ returnBookingOutput }} </h1>

    {% if bookingSearchArray is not empty %}
    <span class='notice'>* Search displays first 10 Results</span>
    <form action= "{{ url }}/index.php/bookingSearch" autocomplete='on' method='get'>
    <h1 style='color:#16e059;'>Results:</h1>
    <table border='1' style='width:100%'>
        <tr>
            <th>Booking Number</th>
            <th>Date of Booking</th>
            <th>Date Returned</th>
            <th>Barcode Number</th>
            <th>SKU Number</th>
            <th>Product Name</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>E-Mail</th>
            <th>Select?</th>
        </tr>
    {% for item in bookingSearchArray %}
    <tr>
        <td>{{ item.bkID }}</td>
        <td>{{ item.dateOfBooking }}</td>
        <td>{{ item.dateReturned }}</td>
        <td><input type='text' name='barCode{{ item.count }}' value='{{ item.barCodeNumber }}' disabled></td>
        <td>{{ item.sKUNumber }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.eMail }}</td>
        <td><input type='submit' name='barCodeSelect{{ item.count }}' value='Select'></td>
    </tr>
    {% endfor %}
    </table>
    </form>
    {% endif %}

    <h1>Return Inventory Item(s)</h1>
        <form action= "{{ url }}/index.php/bookingSearch" autocomplete="on" method="get">
            <fieldset>
                <legend>Inventory</legend>
                {% for inventory in bookingInventory %}
                    Inventory Barcode Number: <input type='text' name='barCodeNumber{{ inventory.index }}' value='{{ inventory.barCodeNumber }}'><span class='error'> *{{ inventory.barCodeNumberErr }}</span><br><br>
                {% endfor %}
            <input type="submit" name="addItem" value="Add Item">
            <input type="submit" name="removeItem" value="Remove Item">
            </fieldset>
      <fieldset>
        <legend>Return Date</legend>
        <input type="date" name="returnDate" value="{{ returnDate }}">
        <span class="error">* {{ returnDateError }}</span>
      </fieldset>
            <input type="submit" name="submitReturn" value="Submit">
            <input type="reset">
        </form>

        <h2>Search Outstanding Bookings by Customer Information</h2>
        <h2 class="notice">* field is subject to input restrictions.</h2>
        <form action= "{{ url }}/index.php/bookingSearch" autocomplete="on" method="get">
            <fieldset>
                <legend>Search by Personal Information</legend>
                Last Name: 
                <input type="text" name="lastName" value="{{ lastName }}">  
                <span class="notice">* {{ lastNameError }}</span>
                <br><br>
                Date of Birth:
                <input type="date" name="dateOfBirth" value="{{ dateOfBirth }}">
                <br><br>
                Address 1: 
                <input type="text" name="address1" value="{{ address1 }}">  
                <span class="notice">* {{ address1Error }}</span>
                <br><br>
                Phone Number:
                <input type="tel" name="phoneNumber" value="{{ phoneNumber }}">
                <span class="notice">* {{ phoneNumberError }}</span>
                <br><br>
            </fieldset>
            <input type="submit" name="submitCustomer" value="Submit">
            <input type="reset">
        </form>

        <h2>Search Outstanding Bookings by Inventory Information</h2>
        <h2 class="notice">* field is subject to input restrictions.</h2>
        <form action= "{{ url }}/index.php/bookingSearch" autocomplete="on" method="get">
            <fieldset>
                <legend>Search by Inventory or Product Information</legend>
                Barcode Number: 
                <input type="text" name="barCodeNumber" value="{{ barCodeNumber }}">
                <span class="notice">* {{ barCodeNumberError }}</span>
                <br><br>
                SKU Number: 
                <input type="text" name="sKUNumber" value="{{ sKUNumber }}">
                <span class="notice">* {{ sKUNumberError }}</span>
                <br><br>
                Product Name: 
                <input type="text" name="productName" value="{{ productName }}">   
                <span class="notice">* {{ productNameError }}</span>
                <br><br>
            </fieldset>
            <input type="submit" name="submitProduct" value="Submit">
            <input type="reset">
        </form>

{% endblock %}